.body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 10vw auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 50px;
    height: 100vh;
    background-color: white;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #686868;
    max-height: 100vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display: none;
}

img {
    scale: 48%;
    margin-left: -35px;
    position: relative;
    top: -48px;
    border-radius: 50%;
    background-color: #686868;
}

.sidebar button {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;
    width: 100%;
    padding: 25px;
    position: relative;
    top: -100px;
    /* Add padding for spacing between buttons */
    margin-bottom: 0px;
    /* Add margin to separate buttons vertically */
    background-color: #686868;
    color: #fff;
    border: none;
    text-align: left;
    font-size: 16px;
}


.save-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.save-button-profile {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 14%;
    top: 93%;
}

.cancel-button-profile {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 25%;
    top: 93%;
}

.save-button-profile:hover {
    background-color: #73ca75;
}

.cancel-button-profile:hover {
    background-color: #f1645a;
}

.profileImgSelection {
    display: inline-block;
    position: absolute;
    top: 65vh;
    left: 20vw;
}

input#theme-switch {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-container {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#themeLabel {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

    #themeLabel:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + #themeLabel {
    background-color: #2196F3;
}

input:focus + #themeLabel {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + #themeLabel:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 15px;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }


.label {
    margin-left: 10px;
    font-size: 16px;
    vertical-align: middle;
}

.theme-toggle h2 {
    text-align: left;
}

.tab.active {
    background-color: #94270c;
    color: #fff;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #94270c;
}

input[type=textarea] {
    border: none;
    border: 2px solid #94270c;
    width: 400px;
    height: 100px;
    border-radius: 3px;
}

input[type=text]:focus {
    outline: none;
}

input[type=textarea]:focus {
    outline: none;
}


.content-alignment {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px 100px;
}

.form-group {
    width: 400px
}

#aboutDescription {
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #94270c;
}
