.navigation-wrapper {
    background-color: #94270c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

a {
    color: white; 
    text-decoration: none;
    margin: 0 10px; 
}

input[type="text"] {
    padding: 5px; 
    border: none; 
    border-radius: 5px;
    width: 500px;
    height: 35px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    vertical-align: middle;
}

#hamburger-wrapper {
    position: relative;
    background-color: #94270c;
}

#content-wrapper {
    display: flex;
    position: absolute;
    width: 150px;
    flex-wrap: wrap;
    background-color: #94270c;
    border: 3px #94270c solid;
}

#content-wrapper a {
    position: relative;
    font-size: large; 
}