h3 {
    margin-left: 50px;
    position: relative;
    top: 10px;
    transform: translateY(15px); 
}

#resturant-name {
    transform: translate(-265px, 5px);
}

img.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    float: left;
    margin-left: 3px;
}

.star-wrapper {
    width: 200px;
    height: 20px;
    position: relative;
    transform: translate(575px, -25px);
}

img.filled-star {
    width: 20px;
    height: 20px;
    border-radius: 80%;
    margin-top: 10px;
}

img.unfilled-star {
    width: 20px;
    height: 20px;
    border-radius: 80%;
    margin-top: 10px;
}
