h3 {
    margin-left: 50px;
    position: relative;
    top: 10px;
    transform: translateY(15px);
}

#restaurant-name {
    transform: translate(-265px, 5px);
    font-weight: bold;
}

img.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    float: left;
    margin-left: 3px;
}

div.profile-name {
    position: absolute;
    z-index: 10;
    display: none;
    top: 35px;
    left: 25px;
}

img.profile-picture:hover {
    transform: scale(1.2);
}

img.profile-picture:hover + div.profile-name {
    position: absolute;
    z-index: 10;
    display: block;
    top: 35px;
    left: 22.5px;
}

#star-wrapper {
    width: 200px;
    height: 20px;
    position: relative;
    transform: translate(575px, -45px);
}

img.filled-star {
    width: 20px;
    height: 20px;
    border-radius: 80%;
    margin-top: 10px;
}

img.unfilled-star {
    width: 20px;
    height: 20px;
    border-radius: 80%;
    margin-top: 10px;
}

.dark-theme {
    background-color: #111;
    color: #fff;


}

.dark-theme .h3{
    background-color: #ffffff;
}
   
