img.home-cover {
    width: 27%;
    height: 300px;
    display: block;
    margin: 0 auto 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
} 

h2 {
    color: rgb(61, 40, 40);
    text-align: center;
}

body {
    margin: 0;
    background-color: #dcdcdc;
    font-family: 'Open Sans', sans-serif;
}

hr {
    width: 500px;
    border: 1px #DE2A4A solid;
}

.event-section-title {
    font: 50px 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    background-color: #94270c;
    border: 4px solid #94270c;
    width: 892px;
    margin: 40px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

    .event-section-title:after {
        content: "Upcoming Events";
        border-radius: 10px 10px 0 0;
        display: inline-block;
        width: 100%;
    }
